h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

.fa-arrow-circle-up {
  color: #ff9800; }

#header {
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  min-height: 720px;
  display: table;
  position: relative;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

#menu {
  background-color: transparent;
  border: none;
  margin-top: 50px; }
  #menu .navbar-brand {
    color: #ff9800;
    letter-spacing: 1px;
    font-size: 1.75em;
    font-weight: bold;
    font-style: italic;
    font-family: "Kaushan Script"; }
  #menu .nav-link {
    color: #ff9800; }

.navbar-nav li a {
  transition: background 0.2s ease-in-out; }

.navbar-nav li a:hover,
.navbar-nav li a.active {
  color: #ff9800 !important; }

#header {
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  min-height: 720px;
  display: table;
  position: relative;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }
  #header .header_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: 0.85; }
  #header .jumbotron {
    background-color: transparent;
    color: #fff;
    padding-top: 300px;
    padding-bottom: 300px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-transform: translateY(-2.1rem);
    -ms-transform: translateY(-2.1rem);
    transform: translateY(-2.1rem);
    color: #ffffff; }

.jumbotron h1 {
  text-transform: uppercase; }

.banner_social a {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
  margin-right: 1rem; }
  .banner_social a:last-child {
    margin-right: 0; }
  .banner_social a:hover {
    background-color: #f8972e; }

@keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(46px); } }
/*About*/
#about {
  padding: 100px 0; }
  #about h1 {
    text-transform: uppercase;
    font-weight: 700; }

.info {
  margin-top: 26rem; }
  .info ul {
    display: inline-block;
    margin-bottom: 50px; }
  .info ul li {
    width: 100%;
    float: left;
    position: relative;
    font-size: 18px;
    line-height: 32px;
    color: #333;
    margin-bottom: 10px; }
  .info ul li::before {
    content: "\f00c";
    font-family: fontawesome;
    margin-right: 10px;
    color: #ff9800; }
  .info .downloadCV {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .info .downloadCV .btn {
      border-color: #ff9800;
      color: #333; }
      .info .downloadCV .btn:hover {
        background-color: #ff9800;
        color: #fff; }
      .info .downloadCV .btn i {
        margin-right: 7px;
        font-size: 0.8em; }
    .info .downloadCV .btn-down-cv {
      background-color: #ff9800;
      color: #333; }

.personal_detail {
  margin-top: 4rem;
  border-radius: 0.5rem;
  padding: 10%;
  width: 100%;
  height: 80%;
  border-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }
  .personal_detail .photo {
    width: 100%;
    height: 70%; }
    .personal_detail .photo img {
      width: 100%;
      height: 100%;
      padding-top: 10%; }
  .personal_detail .svgFocus {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    background-color: black; }
    .personal_detail .svgFocus svg {
      height: 1.5rem;
      width: 1.5rem;
      color: white;
      fill: currentColor; }
    .personal_detail .svgFocus h1 {
      margin: 0 0.75rem;
      color: #fff;
      font-size: 1.125rem;
      margin: 0 0.75rem;
      font-weight: 600; }
  .personal_detail .personal_info {
    padding: 1.5rem 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); }
    .personal_detail .personal_info .personal_description {
      display: flex;
      align-items: baseline;
      margin-top: 1rem;
      color: #4a5568; }
      .personal_detail .personal_info .personal_description svg {
        height: 1.5rem;
        width: 1.5rem;
        fill: currentColor; }
      .personal_detail .personal_info .personal_description p {
        padding: 0 0.5rem;
        font-size: 1.2rem; }

/*LEARN-HISTORY*/
#learn h1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 100px 0 50px 0; }

.resume::before {
  left: 50%;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  margin-left: -1.5px;
  background-color: #bfb7b7; }

.resume {
  position: relative;
  padding: 0;
  list-style: none;
  margin-top: 40px; }
  .resume li {
    position: relative;
    margin-bottom: 100px;
    min-height: 150px; }
  .resume li::after {
    clear: both; }
  .resume li .resume-img {
    left: 50%;
    position: absolute;
    border-radius: 50%;
    margin-left: -70px;
    margin-top: 0; }
  .resume li .resume-img h4 {
    margin-top: 30%;
    color: #fff;
    font-size: medium; }
  .resume li .resume-panel {
    padding: 10px 20px 20px 1s00px;
    float: left;
    position: relative;
    width: 41%;
    padding: 0 20px 0 20px;
    text-align: right; }
  .resume .resume-heading h4 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center; }
  .resume .resume-heading h4.subheading {
    color: #ff9800;
    font-size: 1.2em; }
  .resume .resume-panel .resume-body p {
    color: #656c6d;
    text-align: left; }
  .resume .resume-panel .resume-body img {
    height: 160px;
    width: 100%;
    border-radius: 5%;
    border: 1px solid #fff; }
  .resume .resume-inverted > .resume-panel {
    padding: 10px 20px 20px 1s00px;
    float: right;
    position: relative;
    width: 41%;
    padding: 0 20px 0 20px;
    text-align: left; }

.resume-img {
  width: 140px;
  height: 140px;
  background-color: #ff9800;
  border: 1px solid #ff9800; }

.resume > li:before,
.resume > li:after {
  content: " ";
  display: table; }

/*SKILL*/
#skill {
  background: #1a1e23;
  color: #fff; }
  #skill h1 {
    text-transform: uppercase;
    font-weight: 700;
    padding: 100px 0 0 0; }
  #skill span {
    float: right; }
  #skill .skill-progress {
    padding-bottom: 100px; }
  #skill .progress {
    margin-bottom: 20px; }

.skill-progress .progress {
  height: 10px;
  background: #333; }

.progress-bar-html {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #ff9800;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  animation: progress-html 2s 1 forwards; }

.progress-bar-css {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #ff9800;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  animation: progress-css 2s 1 forwards; }

.progress-bar-javascript {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #ff9800;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  animation: progress-javascript 2s 1 forwards; }

.progress-bar-bootstrap {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #ff9800;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  animation: progress-bootstrap 2s 1 forwards; }

.progress-bar-php {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #ff9800;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  animation: progress-php 2s 1 forwards; }

.progress-bar-mysql {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #ff9800;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  animation: progress-mysql 2s 1 forwards; }

@keyframes progress-html {
  to {
    width: 98%; } }
@keyframes progress-css {
  to {
    width: 95%; } }
@keyframes progress-javascript {
  to {
    width: 90%; } }
@keyframes progress-bootstrap {
  to {
    width: 94%; } }
@keyframes progress-php {
  to {
    width: 75%; } }
@keyframes progress-mysql {
  to {
    width: 80%; } }
/*project*/
#project {
  padding-top: 100px; }
  #project h1 {
    text-transform: uppercase;
    font-weight: 700; }
  #project .categories {
    padding-bottom: 30px;
    text-align: center;
    margin-top: 50px; }
    #project .categories .btn {
      color: #fff;
      cursor: pointer;
      border: #000; }
      #project .categories .btn:hover {
        background-color: #000;
        border: #000; }
    #project .categories .btn-warning {
      background-color: #ff9800; }

.mix img {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.mix img:hover {
  transform: scale(1.1); }

/*Contact*/
#contact {
  background-color: #f5f5f5;
  padding-bottom: 50px; }
  #contact h1 {
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 100px;
    padding-bottom: 50px; }

.group {
  position: relative;
  margin: 15px 0; }
  .group p {
    color: #000; }

input,
textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6; }

input:focus,
textarea:focus {
  outline: none; }

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #000; }

input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 100%; }

input[type="password"] {
  letter-spacing: 0.3em; }

label {
  color: #000;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all; }

.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #ff9800;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  left: 0%; }

.btn.btn-submit {
  background: #ff9800;
  color: #fff;
  width: 30%;
  cursor: pointer;
  font-weight: bold; }

.box_address {
  overflow: hidden; }

.box_address p:first-child {
  font-weight: bold;
  width: 16%;
  float: left;
  color: #000; }

.box_address p:last-child {
  color: #000;
  margin-left: 30px;
  float: left; }

.group > p {
  font-weight: bold;
  font-size: 18px; }

/*Footer*/
#footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0; }
  #footer h5 {
    font-size: 14px; }

/*# sourceMappingURL=style.css.map */
